.container {
    background-color: #e2e9e5;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #16A085;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-label {
    color: #16A085;
  }
  
  .form-control:read-only {
    background-color: #e9ecef;
    opacity: 1;
  }
  
  .button {
    background-color: #16A085;
    border-color: #16A085;
    width: 100%;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #138f70;
    border-color: #138f70;
  }
  