.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand-custom {
  font-size: 1.5rem;
  font-weight: bold;
}

.brand-highlight {
  color: #009688; /* Couleur personnalisée pour "Transfert" */
}

.navbar-nav .nav-link {
  margin-right: 15px; /* Ajuster l'espacement entre les liens */
  color: #000; /* Couleur du texte */
}

.navbar-nav .nav-link:hover {
  color: #009688; /* Couleur du texte au survol */
}

.navbar-brand-custom {
  font-weight: bold;
}

.brand-highlight {
  color: #16A085;
}

.active-link {
  border: 2px solid #16A085;
  border-radius: 5px;
}

footer {
  background-color: #16A085;
  color: #fff;
  padding: 40px 0;
  padding-top: 2rem; /* Ajustez la valeur de la marge supérieure selon vos besoins */
  padding-bottom: 1rem; /* Ajustez la valeur de la marge inférieure selon vos besoins */ /* Couleur de fond */
  color: #fff;
}

footer h5 {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

footer p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

footer .contact-information p,
footer .opening-hours p {
  margin-bottom: 10px;
  color: #000;
}

footer h5{
  color: #000000;

}

footer .contact-information i,
footer .opening-hours i {
  margin-right: 10px;
  color: #f1c40f;
}

footer a {
  color: #f1c40f;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .brand-highlight {
  color: #f1c40f;
  font-weight: bold;
}
